# Dataset.py Creation & Testing
- I should maybe pre-calculate the indexes which are allowed, and create a list which can be sampled from, i.e. an actual list of starting points? I must be *fairly* close to that alredy? Maybe I just need a function for it.
- I should also test how data loading works when the data set segmentation happens solely from the csv data and the calling of the data actually loads in the appropriate file. Should be easy enough considering that the `date_column` is aparently stored as strings when being read in. (currently impossibly memory bound)

In [13]:
import os
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from dataset import ClimateHackDataset
import albumentations as A

In [2]:
np.load('cleaned_data/2021_11_07.npy').shape

(107, 891, 1843)

In [3]:
validation = ClimateHackDataset(split='val')

In [4]:
csv = validation.csv
print(csv.shape)
print(csv[csv.valid_start].shape)
csv

(242, 5)
(168, 5)

                     time    idx date_column     time_to_next  valid_start
2299  2020-02-17 07:00:00   5554  2020-02-17  0 days 14:00:00         True
2300  2020-02-17 07:05:00   5555  2020-02-17  0 days 00:05:00         True
2301  2020-02-17 07:10:00   5556  2020-02-17  0 days 00:05:00         True
2302  2020-02-17 07:15:00   5557  2020-02-17  0 days 00:05:00         True
2303  2020-02-17 07:20:00   5558  2020-02-17  0 days 00:05:00         True
...                   ...    ...         ...              ...          ...
8524  2020-04-09 16:40:00  20127  2020-04-09  0 days 00:05:00        False
8525  2020-04-09 16:45:00  20128  2020-04-09  0 days 00:05:00        False
8526  2020-04-09 16:50:00  20129  2020-04-09  0 days 00:05:00        False
8527  2020-04-09 16:55:00  20130  2020-04-09  0 days 00:05:00        False
8528  2020-04-09 17:00:00  20131  2020-04-09  0 days 00:05:00        False

[242 rows x 5 columns]

In [5]:
index = 0
df = csv[csv.valid_start].reset_index()
date = df.date_column.iloc[index]

In [6]:
date

'2020-02-17'

In [7]:
df

,index,time,idx,date_column,time_to_next,valid_start
0,2299,2020-02-17 07:00:00,5554,2020-02-17,0 days 14:00:00,True
1,2300,2020-02-17 07:05:00,5555,2020-02-17,0 days 00:05:00,True
2,2301,2020-02-17 07:10:00,5556,2020-02-17,0 days 00:05:00,True
3,2302,2020-02-17 07:15:00,5557,2020-02-17,0 days 00:05:00,True
4,2303,2020-02-17 07:20:00,5558,2020-02-17,0 days 00:05:00,True
...,...,...,...,...,...,...
163,8487,2020-04-09 13:35:00,20090,2020-04-09,0 days 00:05:00,True
164,8488,2020-04-09 13:40:00,20091,2020-04-09,0 days 00:05:00,True
165,8489,2020-04-09 13:45:00,20092,2020-04-09,0 days 00:05:00,True
166,8490,2020-04-09 13:50:00,20093,2020-04-09,0 days 00:05:00,True
167,8491,2020-04-09 13:55:00,20094,2020-04-09,0 days 00:05:00,True

In [8]:
validation

Dataset ClimateHackDataset
    Number of datapoints: 168
    Split: val
    Root Location: cleaned_data
    Transforms (if any): None
    Target Transforms (if any): None

In [9]:
for idx, (data, target) in enumerate(validation):
    print(idx,  data.shape)

0 (12, 891, 1843)
1 (12, 891, 1843)
2 (12, 891, 1843)
3 (12, 891, 1843)
4 (12, 891, 1843)
5 (12, 891, 1843)
6 (12, 891, 1843)
7 (12, 891, 1843)
8 (12, 891, 1843)
9 (12, 891, 1843)
10 (12, 891, 1843)
11 (12, 891, 1843)
12 (12, 891, 1843)
13 (12, 891, 1843)
14 (12, 891, 1843)
15 (12, 891, 1843)
16 (12, 891, 1843)
17 (12, 891, 1843)
18 (12, 891, 1843)
19 (12, 891, 1843)
20 (12, 891, 1843)
21 (12, 891, 1843)
22 (12, 891, 1843)
23 (12, 891, 1843)
24 (12, 891, 1843)
25 (12, 891, 1843)
26 (12, 891, 1843)
27 (12, 891, 1843)
28 (12, 891, 1843)
29 (12, 891, 1843)
30 (12, 891, 1843)
31 (12, 891, 1843)
32 (12, 891, 1843)
33 (12, 891, 1843)
34 (12, 891, 1843)
35 (12, 891, 1843)
36 (12, 891, 1843)
37 (12, 891, 1843)
38 (12, 891, 1843)
39 (12, 891, 1843)
40 (12, 891, 1843)
41 (12, 891, 1843)
42 (12, 891, 1843)
43 (12, 891, 1843)
44 (12, 891, 1843)
45 (12, 891, 1843)
46 (12, 891, 1843)
47 (12, 891, 1843)
48 (12, 891, 1843)
49 (12, 891, 1843)
50 (12, 891, 1843)
51 (12, 891, 1843)
52 (12, 891, 1843)
53 (12, 891, 1843)
54 (12, 891, 1843)
55 (12, 891, 1843)
56 (12, 891, 1843)
57 (12, 891, 1843)
58 (12, 891, 1843)
59 (12, 891, 1843)
60 (12, 891, 1843)
61 (12, 891, 1843)
62 (12, 891, 1843)
63 (12, 891, 1843)
64 (12, 891, 1843)
65 (12, 891, 1843)
66 (12, 891, 1843)
67 (12, 891, 1843)
68 (12, 891, 1843)
69 (12, 891, 1843)
70 (12, 891, 1843)
71 (12, 891, 1843)
72 (12, 891, 1843)
73 (12, 891, 1843)
74 (12, 891, 1843)
75 (12, 891, 1843)
76 (12, 891, 1843)
77 (12, 891, 1843)
78 (12, 891, 1843)
79 (12, 891, 1843)
80 (12, 891, 1843)
81 (12, 891, 1843)
82 (12, 891, 1843)
83 (12, 891, 1843)
84 (12, 891, 1843)
85 (12, 891, 1843)
86 (12, 891, 1843)
87 (12, 891, 1843)
88 (12, 891, 1843)
89 (12, 891, 1843)
90 (12, 891, 1843)
91 (12, 891, 1843)
92 (12, 891, 1843)
93 (12, 891, 1843)
94 (12, 891, 1843)
95 (12, 891, 1843)
96 (12, 891, 1843)
97 (12, 891, 1843)
98 (12, 891, 1843)
99 (12, 891, 1843)
100 (12, 891, 1843)
101 (12, 891, 1843)
102 (12, 891, 1843)
103 (12, 891, 1843)
104 (12, 891, 1843)
105 (12, 891, 1843)
106 (12, 891, 1843)
107 (12, 891, 1843)
108 (12, 891, 1843)
109 (12, 891, 1843)
110 (12, 891, 1843)
111 (12, 891, 1843)
112 (12, 891, 1843)
113 (12, 891, 1843)
114 (12, 891, 1843)
115 (12, 891, 1843)
116 (12, 891, 1843)
117 (12, 891, 1843)
118 (12, 891, 1843)
119 (12, 891, 1843)
120 (12, 891, 1843)
121 (12, 891, 1843)
122 (12, 891, 1843)
123 (12, 891, 1843)
124 (12, 891, 1843)
125 (12, 891, 1843)
126 (12, 891, 1843)
127 (12, 891, 1843)
128 (12, 891, 1843)
129 (12, 891, 1843)
130 (12, 891, 1843)
131 (12, 891, 1843)
132 (12, 891, 1843)
133 (12, 891, 1843)
134 (12, 891, 1843)
135 (12, 891, 1843)
136 (12, 891, 1843)
137 (12, 891, 1843)
138 (12, 891, 1843)
139 (12, 891, 1843)
140 (12, 891, 1843)
141 (12, 891, 1843)
142 (12, 891, 1843)
143 (12, 891, 1843)
144 (12, 891, 1843)
145 (12, 891, 1843)
146 (12, 891, 1843)
147 (12, 891, 1843)
148 (12, 891, 1843)
149 (12, 891, 1843)
150 (12, 891, 1843)
151 (12, 891, 1843)
152 (12, 891, 1843)
153 (12, 891, 1843)
154 (12, 891, 1843)
155 (12, 891, 1843)
156 (12, 891, 1843)
157 (12, 891, 1843)
158 (12, 891, 1843)
159 (12, 891, 1843)
160 (12, 891, 1843)
161 (12, 891, 1843)
162 (12, 891, 1843)
163 (12, 891, 1843)
164 (12, 891, 1843)
165 (12, 891, 1843)
166 (12, 891, 1843)
167 (12, 891, 1843)

# Data loader version

In [10]:
# Define transformations:
transform = A.Compose(
    [
        A.RandomCrop(128,128)
    ],
    additional_targets={'target': 'image'}
)
validation = ClimateHackDataset(split='val', transform=transform)

In [11]:
from torch.utils.data import DataLoader
validation = DataLoader(
    ClimateHackDataset(
        split='val'), 
    batch_size=16, num_workers=8,
    timeout=5, prefetch_factor=2
)

In [12]:
validation

In [13]:
for img, target in validation:
    print(img.shape, target.shape)

torch.Size([16, 12, 891, 1843]) torch.Size([16, 24, 64, 64])
torch.Size([16, 12, 891, 1843]) torch.Size([16, 24, 64, 64])
torch.Size([16, 12, 891, 1843]) torch.Size([16, 24, 64, 64])
torch.Size([16, 12, 891, 1843]) torch.Size([16, 24, 64, 64])
torch.Size([16, 12, 891, 1843]) torch.Size([16, 24, 64, 64])
torch.Size([16, 12, 891, 1843]) torch.Size([16, 24, 64, 64])
torch.Size([16, 12, 891, 1843]) torch.Size([16, 24, 64, 64])
torch.Size([16, 12, 891, 1843]) torch.Size([16, 24, 64, 64])
torch.Size([16, 12, 891, 1843]) torch.Size([16, 24, 64, 64])
torch.Size([16, 12, 891, 1843]) torch.Size([16, 24, 64, 64])
torch.Size([8, 12, 891, 1843]) torch.Size([8, 24, 64, 64])